.form {
  width: 100%;
  margin-top: 24px;
}

.forgotPassword {
  margin-bottom: 12px;
  margin-left: auto;
  padding: 12px;
  padding-right: 0;

  color: var(--light-900);
  text-align: end;
}

.btnSingUp {
  margin-bottom: 18px;
}
