.container {
  max-width: 294px;
}

.title {
  margin-bottom: 19px;
}

.description {
  margin-bottom: 30px;
}

.button {
  margin-bottom: 37px;
}

.signin {
  padding-right: 37px;
  padding-left: 37px;
}

.img {
  width: auto;
  max-height: 352px;
  object-fit: contain;
}

.error {
  margin-top: 30px;
  margin-bottom: 30px;
}
