.title {
  margin-bottom: 19px;
}

.description {
  margin-bottom: 54px;
}

.button {
  margin-bottom: 72px;
  padding-right: 37px;
  padding-left: 37px;
}

.signin {
  padding-right: 37px;
  padding-left: 37px;
}

.img {
  width: auto;
  max-height: 300px;
  object-fit: contain;
}
