.form {
  margin-top: 24px;
}

.tip {
  margin-bottom: 17px;
}

.forgotPassword {
  margin-bottom: 12px;
  margin-left: auto;
  padding: 12px;
  padding-right: 0;

  color: var(--light-900);
  text-align: end;
}

.submitBtn {
  margin-bottom: 24px;
}

.captcha {
  margin-top: 24px;
}
