.form {
  margin-top: 24px;
}

.checkboxWrap {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.btnSingUp {
  margin-bottom: 18px;
}

.footerTitle {
  margin-bottom: 6px;
  text-align: center;
}

.btnSignIn {
  align-self: center;
  margin: 0 auto 4px;
}
